.cardContainer{
	margin: 15px 5px;
	border-radius: 10px;
	background-color: white;
	.cardTop{
		.imgContainer{
			width:350px;
			img{
				width: 100%;
				border-radius: 10px 10px 0 0;
			}
		}
	}
	.cardBottom{
		padding: 15px 15px;
		.bottom1{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.left{
				display: flex;
				align-items: center;
				justify-content: center;
				.price{
					color: rgb(112,101,240);
					font-size: 22px;
					font-weight: 700;
				}
				.duration{
					color: gray;
					font-weight: 600;
				}
			}
			.right{
				border-radius: 100%;
				border: 2px solid rgb(186, 184, 184);
				display: flex;
				align-items: center;
				justify-content: center;
				color: rgb(112,101,240);
				padding: 5px;
				cursor: pointer;
			}
		}
		.bottom2{
			margin: 10px 0;
			.name{
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 5px;
			}
			.address{
				color: gray;
				font-size: 18px;
				padding-bottom: 10px;
				border-bottom: 2px solid rgb(223, 215, 215);
			}
		}
		.bottom3{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			color: gray;
			.facilities{
				display: flex;
				margin: 5px 0;
				.icon{
					color: rgb(112,101,240);
					margin-right: 5px;
				}
			}
		}
	}
}